.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor backup files
*~

# Virtual environment
venv/


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# py cache
*__pycache__*
*.pyc
*.egg*

#misc
*.fuse*
*.tar*
*.zip

*.bbox*

sqlite*bk

data
wsdata

htmlcov
.coverage
build

